extends base

append head

block content
  section#main.main
    .tags__header-carousel
      if tags.length
        each tag in tags
          a(href="#")
            span.hashtag=`#${tag.name}`
      else
        h1 Nothing to see here
    .container
      if images.length
        ul.image-gallery
          each image in images
            li
              a(href=`/${image.user.username}/${image.slug}`)
                img(src=`img/stock/${image.media}`)
          li
      else
        h1 Nothing to see here