extends base

block content
  section#main.main
    .container
      if images.length
        each image in images
          img(src=`img/uploads/${image.media}`) 
      else
        h1 Nothing to see here
