extends base

block content
  section#main.main
    .container
      if images.length
        each image in images
            a(href="#")
              img(src=`stash/images/raw/${image.media}`) 
      else
        h1 Nothing to see here
