extends base

append head
  script(type='module' src='/js/front/uploadFile.js')

block content
  section#upload-main.upload
    #uploadForm.upload-form
      form#submit-upload
        .modal-lip
          button.btn-lip(type="button")
            h3.modal-lip-title New upload
        
        #upload.modal(data-state='0' data-ready='false')
          
          .modal__header
            svg.modal__icon.modal__icon--color(viewbox='0 0 24 24' width='24px' height='24px' aria-hidden='true')
              g(fill='none' stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                circle.modal__icon-sdo69(cx='12' cy='12' r='11' stroke-dasharray='69.12 69.12')
                polyline.modal__icon-sdo14(points='7 12 12 7 17 12' stroke-dasharray='14.2 14.2')
                line.modal__icon-sdo10(x1='12' y1='7' x2='12' y2='17' stroke-dasharray='10 10')
            svg.modal__icon.modal__icon--red(viewbox='0 0 24 24' width='24px' height='24px' aria-hidden='true' display='none')
              g(fill='none' stroke='hsl(3,90%,50%)' stroke-width='2' stroke-linecap='round')
                circle.modal__icon-sdo69(cx='12' cy='12' r='11' stroke-dasharray='69.12 69.12')
                line.modal__icon-sdo14(x1='7' y1='7' x2='17' y2='17' stroke-dasharray='14.2 14.2')
                line.modal__icon-sdo14(x1='17' y1='7' x2='7' y2='17' stroke-dasharray='14.2 14.2')
            svg.modal__icon.modal__icon--green(viewbox='0 0 24 24' width='24px' height='24px' aria-hidden='true' display='none')
              g(fill='none' stroke='hsl(138,90%,50%)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                circle.modal__icon-sdo69(cx='12' cy='12' r='11' stroke-dasharray='69.12 69.12')
                polyline.modal__icon-sdo14(points='7 12.5 10 15.5 17 8.5' stroke-dasharray='14.2 14.2')
            h2.modal__title Upload your art
          
          .modal__body

            .modal__content.drop_zone
              .modal__actions.drop-zone
                .span-prompts
                  span.drop-zone__prompt Drop image, pdf, or text here
                  span.drop-zone__prompt OR
                  span.drop-zone__prompt Click to upload 
                input#media.drop-zone__input(type='file' name="myFile" hidden='' )
                
            .modal__content.stashing-step(hidden='')
              img.uploading-img(src="img/no-img-available.jpg")
              .modal__actions.progress
                .modal__progress
                  .modal__progress-bar
                    .modal__progress-fill(data-progress-fill)
                  .modal__file(data-file='')

            .modal__content(hidden='')
                img.uploading-img(src="img/no-img-available.jpg")
            
            .modal__content.image-processing-step(hidden='')
              .upload__mature-type
                img.uploaded-img(src="img/no-img-available.jpg")
              .upload__title-group
                input#title(type="text" name='title' placeholder="Give your upload a title")
              .upload__description-group
                textarea#description(name='description' placeholder="Give your upload a description" cols="50" rows="10")
              .upload__tags-group
                input#tags(type="text" name='tags' placeholder="Tags#, (Seperate tags with a comma or space)")
              .upload__maturity-group
                input(type="checkbox" name='maturity-checkbox' value='mature')
                label(for='maturity-checkbox') Mature Content
                ul.list__maturity-type
                  li
                    input(type="checkbox" name='moderate-checkbox' value='moderate')
                    label(for='moderate-checkbox') Moderate
                  li
                    input(type="checkbox" name='strict-checkbox' value='strict')
                    label(for='strict-checkbox') Strict
                ul.list__maturity-options
                  li
                    input(type="checkbox" name='nudity-checkbox' vaule='nudity')
                    label(for='nudity-checkbox') Nudity
                  li
                    input(type="checkbox" name='sexual-themes-checkbox' value='sexual themes')
                    label(for='sexual-themes-checkbox') Sexual Themes
                  li
                    input(type="checkbox" name='violence-gore-checkbox' value='violence and/or gore')
                    label(for='violence-gore-checkbox') Violence and/or Gore
                  li
                    input(type="checkbox" name='strong-language-checkbox' value='strong language')
                    label(for='strong-language-checkbox') Strong Language
                  li
                    input(type="checkbox" name='ideologically-sensitive-checkbox' value='ideologically sensitive')
                    label(for='ideologically-sensitive-checkbox') Ideologically Sensitive
        
            button(type="submit") Submit
            .modal__actions.modal__actions--center
              button#upload-btn.modal__button(type='button' data-action='upload') Upload
              button.modal__button(type='button' data-action='upload') Retry
              button.modal__button(type='button' data-action='cancel') Cancel
              button.modal__button(type='button' data-action='copy') Copy Link
              button.modal__button(type='button' data-action='cancel') Done
        
