/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR: #47b1f5
GREY COLOR: #2e2d2d;;

buttons 0.375em 0.75em
*/

/* 
=========================GENERAL CSS========================================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #2e2d2d;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125em;

  /* display: grid;
  grid-template-columns: 5em 13em 1fr;
  grid-template-rows: 5em 1fr; /*3*/
  /* height: 100vh;  */
}

/* Disable scrolling of content underneath modal when modal is open */
body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

img.upload {
  pointer-events: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

.btn {
  border: none;
  box-shadow: none;
  border-radius: 10px;
  cursor: pointer;
}
/* 
=========================END GENERAL CSS========================================
*/

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

.error {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* 
=========================Login CSS========================================
*/
.login,
.signup {
  margin: 0;
  height: 100%;
  line-height: 1.6;
  font-weight: 300;
  color: #777;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.login-form,
.signup-form {
  position: relative;
  margin: 0 auto;
  align-self: flex-end;
  max-width: 30rem;
  background-color: #2e2d2d;
  border-radius: 0.5em;
  padding: 4rem;
  border: 1px solid #3e3d3d;
  /* border-radius: 30.25em

; */
  overflow: auto;
}

.btn-return__home,
.btn-update-file {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-update-file {
  background-color: transparent;
}

.btn-return__icon,
.btn-update-file__icon {
  stroke: #fff;
  fill: #fff;
  width: 32px;
  height: 32px;
}

.heading-secondary {
  font-size: 3.25rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  color: #47b1f5;

  margin-bottom: 1.5em;
}

.form__input-wrapper {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
}

.update-birthday-flex-container {
  display: flex;
  gap: space-evenly;
}

.update-birthday-flex-item {
  display: flex;
  flex-direction: column;
}

.flex-item-month {
  flex: 2 0 auto;
}

.flex-item-day {
  flex: 0 2 auto;
}

.flex-item-year {
  flex: 0 2 auto;
}

.form__label {
  font-weight: 300;
  width: 100px;
  font-size: 1em;
  color: #adb5bd;
  margin-top: 1.5em;
  margin-bottom: 1.125em;
  margin-left: 0.75em;
}

.ml-18 {
  margin-left: 1.125em;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.125em;
  color: #fff;
  padding: 0.25rem 0.75rem;
  width: 100%;
  background-color: #2e2d2d;
  border: none;
  border-bottom: 0.1px solid #3e3d3d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}

.form__span {
  position: absolute;
  top: 35%;
  right: 0;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
span > svg.form__input--icon {
  width: 1.5em;
  stroke: #fff;
}

.form__input:focus {
  outline: none;
  border-bottom: 3px solid #47b1f5;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #2e2d2d;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group {
  display: flex;
  justify-content: center;
  margin-top: 0.625em;
}

.form__group:not(:last-child) {
  margin-bottom: 0.5rem;
}

.btn--login,
.btn--login:link,
.btn--login:visited {
  font-size: 1rem;
  padding: 0.85rem 5rem;
  width: 100%;
  border-radius: 10rem;
  /* text-transform: uppercase; */
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer;

  position: relative;
}

.btn--login:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn--login:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn--blue {
  background-color: #47b1f5;
  color: #fff;
  margin-top: 1rem;
}

.btn--grey {
  background-color: #2e2d2d;
  color: #fff;
}

.btn-otln {
  border: 1px solid #343a40;
}
.btn--company {
  margin-top: 2rem;
  color: #fff;
  background-color: black;
}

.icon--company {
  position: absolute;
  top: 50%;
  left: 7.5%;
  width: 1.25em;
  transform: translate(0, -50%);
}

.form__password {
  position: relative;
}

.icon--password__update {
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  transform: translate(0, -50%);
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.icon--password {
  position: absolute;
  top: 50%;
  right: 2.5%;
  width: 1.875em;
  transform: translate(0, -50%);
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.btn--login:focus {
  outline: none;
}

/* 
=========================ENDLogin CSS========================================
*/
/* 
=========================NAVBAR CSS========================================
*/

header.nav {
  position: fixed;
  width: 100%;
  top: 0;
  height: 5em;

  color: #fff;
  background-color: #2e2d2d;

  z-index: 2;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

header.nav.disappear {
  display: none;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.tt,
.tt2 {
  background-color: #595b5d;
  padding: 0.375em 0.75em;
  border: 0.1px solid #fff;
  font-size: 0.9rem;
  color: #fff;
}

a h1.nav-header-brand {
  cursor: pointer;
}

#search.nav-item {
  margin-left: auto;
}

#user-features.nav-item {
  margin-left: auto;
}

#account.nav-item {
  /* margin-left: auto; */
  display: flex;
  right: 1em;
  padding-right: 1em;
}

#account.nav-item.hidden {
  display: none;
}

.btn-side-nav {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 0.15625em;
}

.nav-side-nav-icon {
  stroke: #fff;

  width: 30px;
  height: 30px;
}

h1.nav-header-brand {
  color: #47b1f5;

  font-size: 1.5em;
  cursor: default;
}

.wrapper {
  position: relative;

  display: flex;
  align-items: center;

  width: 30em;
  height: 3em;
}
.btn-revert {
  border: none;
  background-color: #2e2d2d;
  width: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  margin-right: 2em;
}

.revert-icon {
  stroke: #fff;
  width: 20px;
}

button.btn-revert.hidden {
  display: none;
}

.btn-search {
  border: none;
  background-color: #2e2d2d;

  position: absolute;
  top: 50%;
  left: 0.5em;
  width: 20px;
  transform: translate(0, -50%);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: default;
}

.search-icon {
  stroke: #fff;
  width: 20px;
}

.btn-search-clear {
  border: none;
  background-color: #2e2d2d;

  position: absolute;
  top: 50%;
  right: 0.5em;
  width: 20px;
  cursor: pointer;
  transform: translate(0, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
}
search-c .btn-search-clear.hidden {
  display: none;
}

.clear-icon {
  stroke: #fff;
  width: 20px;

  /*visibility: hidden; */
}

.search {
  border: 0.1px solid #555555;
  border-radius: 0.625em;
  height: 3em;
  width: 100%;
  padding: 0.125em 1.75em 0.125em 2.1875em;
  outline: 0;
  font-size: 1.125em;
  color: #fff;
  background-color: #2e2d2d;
}

.search::placeholder {
  color: #fff;
}

.search:focus {
  border: 0.1px solid #47b1f5;
}

/* a.nav-btn,
button.nav-btn {

} */

a.nav-btn {
  padding: 0.375em 0.75em;
  border-radius: 0.625em;
}

a.nav-btn.loggedin-nav-btn,
button.nav-btn.loggedin-nav-btn {
  padding: 0;
  margin-left: 0;
}

.btn-join {
  background-color: #495057;
  border: none;
}

.btn-signin {
  border: 1px solid #47b1f5;
}
/*-----------------------ProfileButtonCSS---------------------------*/

#drop_down_with_links,
#drop_down_with_notifications {
  position: relative;
}

#profile-menu-trigger,
#notifications-list-trigger {
  border: none;
  background: none;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

button.nav-btn.bell {
  width: 32px;
}

a.nav-btn__upload {
  width: 2em;
}

.notifications-icon,
.upload-icon,
.highlighted-icons {
  stroke: #fff;
  width: 32px;
}

.favorite-icon {
  stroke: #fff;
  fill: none;
  width: 32px;
}

.favorite-icon.favorited {
  stroke: red;
  fill: red;
}

#favorite-btn:hover .favorite-icon {
  animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.upload-icon {
  margin-top: 3px;
}

#notifications-list {
  position: absolute;
  top: 3.4em;
  right: 0;
  width: 30em;
  border-radius: 0.5em;
  background-color: #424243;
  color: #fff;
  box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.15);
  padding: 8px 0;
  transition: 500ms ease-in;
  z-index: 1;
}

#profile-menu {
  position: absolute;
  top: 3.65em;
  /* left: 0; */
  right: 0;
  width: 18.75em;
  border-radius: 0.5em;
  background-color: #424243;
  color: #fff;
  box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.15);
  padding: 8px 0;
  transition: 500ms ease-in;
  z-index: 1;
}

#profile-menu.closed,
#notifications-list.closed {
  display: none;
}

.profile-menu-item,
.notifications-list-item {
  padding: 1em 0;
}

.profile-menu-item:first-child,
.notifications-list-item:first-child {
  position: relative;
  padding: 1em 1em;

  display: flex;
  justify-content: content;
  /* align-items: center; */
}

.profile-menu__user-img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  margin-right: 1rem;
}

.profile-menu-item__col-r {
  display: flex;
  flex-direction: column;
}

a.profile__account-link {
  margin-top: 1em;
  color: #47b1f5;
}

.profile-menu-item + .profile-menu-item {
  border-top: solid 0.1px #595b5d;
}

ul.profile-item-list li {
  margin-bottom: 0.5em;
}

ul.profile-item-list li:last-child {
  margin-bottom: 0;
}

ul.profile-item-list li > a {
  display: flex;
  align-items: center;
  gap: 1.5em;
  /* color: #fff; */
  text-decoration: none;
  cursor: pointer;
  padding: 0.625em;
}

.profile-menu__list__link-icon {
  margin-left: 1em;
  height: 30px;
  width: 30px;
  stroke-width: 1.5;
}

ul.profile-item-list li > a:focus-visible,
#profile-menu-trigger:focus-visible {
  border-radius: 0.5em;
  outline: 0.125em solid #47b1f5;
  background-color: rgba(0, 0, 0, 0.05);
}

ul.profile-item-list li > a:hover,
#profile-menu-trigger:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
}

.nav__user-img {
  background-color: #2e2d2d;
  height: 52px;
  width: 52px;
  border-radius: 50%;
}

.nav-item-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------------------End ProfileButtonCSS---------------------------*/
/* 
=========================END NAVBAR CSS========================================
*/

/* 
=========================SIDE NAVBAR CSS========================================
*/

aside.side-nav {
  background-color: #2e2d2d;
  top: 5em;
  bottom: 0;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  width: 5em;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

/* width */
aside::-webkit-scrollbar {
  width: 11px;
}

/* Track */
/* aside::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.25em

 grey;
  border-radius: 0.625em

;
} */

/* Handle */
aside::-webkit-scrollbar-thumb {
  background: #595b5d;
  border-radius: 0.5em;
}

/* Handle on hover */
aside::-webkit-scrollbar-thumb:hover {
  background: #595b5d;
}

.side-nav-item {
  padding: 1em 0;
}

.side-nav-item + .side-nav-item {
  border-top: solid 0.1px #343a40;
}

ul.side-nav-list li {
  margin-bottom: 0.5em;
}

ul.side-nav-list li:last-child {
  margin-bottom: 0;
}

ul.side-nav-list li > a {
  display: flex;
  align-items: center;
  gap: 1.5em;
  /* color: #fff; */
  text-decoration: none;
  cursor: pointer;
  padding: 10px 30px;
}

.side-nav__user-img {
  height: 2em;
  width: 2em;
  border-radius: 50%;
}

h3.side-nav-item-header {
  font-weight: 400;
  margin-bottom: 0.75em;
  margin-left: 1em;
  padding: 0.625em;
}

/* a.side-nav-link {
  display: flex;
  align-items: center;
  font-size: 1em;
  gap: 1.125em;
} */

a.footer-link:link,
a.footer-link:visited,
a.footer-link:hover,
a.footer-link:active {
  color: #47b1f5;
}

.side-nav-item:last-child {
  padding: 0.625em;
}

.footer-item {
  display: flex;
  gap: 0.75em;
  padding: 0.25em 0;
  margin-left: 1em;
  font-size: 0.875em;
  font-weight: 500;
}

.side-nav-footer:nth-child(5) {
  margin-top: 0.75em;
}

aside.side-nav.hidden {
  display: none;
}

aside.side-nav.disappear {
  display: none;
}
/* 
=========================END SIDE NAVBAR CSS========================================
*/

/* 
=========================SECTION MAIN CSS========================================
*/
section.main-login {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #adb5bd;
}

section.main {
  background-color: #2e2d2d;
  /* background-color: green; */
  margin-top: 5em;
  margin-left: 5em;

  /* padding: 1em; */

  z-index: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

section.main.disappear {
  display: none;
}
.container {
  /* background-color: red; */
  padding: 24px;
}

.container-grid {
  background-color: aqua;
  min-height: 1000px;
}
.carouselContainer {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.carouselOfTags {
  position: relative;
  margin: auto;
  /* overflow: visible; */
  width: 100%;
  display: flex;
}

.carouselOfTags::before,
.carouselOfTags::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #2e2d2d);
  z-index: 1; /* Add a z-index value to make sure the pseudo-elements are on top */
}

.carouselOfTags::after {
  right: 0;
  transform: scaleX(-1);
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #2e2d2d);
  z-index: 1; /* Add a z-index value to make sure the pseudo-elements are on top */
}

.carouselTag {
  padding: 6px 12px;
  border-radius: 25px;
  border: 1.5px solid #47b1f5;
  background-color: #47b1f5;
  counter-increment: carousel-cell;
  text-align: center;
  vertical-align: center;
  transition: transform 0.5s;
  font-size: 0.75em;
  margin-left: 0.625em;
  cursor: grab;
}

.carouselTag.is-selected {
  z-index: 10;
  transform: scale(1);
}
.carouselTag.nextToSelectedLeft,
.carouselTag.nextToSelectedRight {
  transform: scale(1);
  z-index: 5;
}

/*! Flickity v2.0.5
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  /*           tap-highlight-color: transparent; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.flickity-viewport {
  margin: 0px;
  width: 100%;
}

/* 
=========================END SECTION MAIN CSS========================================
*/

/* 
=========================SIDENAVBAR BUTTON PRESS CSS========================================
*/
section.main.shrink-main,
section.upload.shrink-main {
  margin-left: 18.75em;
}

aside.side-nav.expand-aside {
  min-width: 18.75em;
}
/* append to ul.side-nav-list li */
.center-side-nav-link {
  display: flex;
  justify-content: center;
}

/* append to a.side-nav-link */
a.shrink-side-nav-link {
  flex-direction: column;
  font-size: 0.75em;
}

ul.side-nav-list li > a.side-nav-link.shrink-side-nav-link {
  gap: 0.5em;
}

/* 
END SIDE NAV BUTTON ACTIONS
*/

/* 
=========================END SIDENAVBAR BUTTON PRESS CSS========================================
*/

/* 
=========================USER VIEW ACCOUNT PAGE CSS========================================
*/
.personal-info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
  margin-top: 0.75em;
}

.personal-info__container-item {
  background-color: #2e2d2d;
  border: solid 0.1px #595b5d;
  border-radius: 0.5em;
  padding: 2em 2em 0.5em 2em;
}

.personal-info__container-item:first-child {
  padding: 2em 2em;
}

.personal-info__header {
  font-weight: 500;
  text-align: center;
}

.personal-info__container-item__header {
  font-weight: 400;
  margin-bottom: 0.5em;
}
.personal-info__container-item__description {
  font-weight: 300;
  margin-bottom: 0.5em;
  color: #adb5bd;
}

ul.personal-info__container-item__list li {
  border-top: 0.1px solid #3e3d3d;
}

ul.personal-info__container-item__list li:first-child {
  border-top: none;
}

ul.personal-info__container-item__list li > a {
  position: relative;
  display: flex;
  align-items: center;

  gap: 3em;
}
ul.personal-info__container-item__list li > a:hover,
ul.personal-info__container-item__list li > a:active {
  background-color: #3e3d3d;
}

a.presonal-info__container-item__list-link {
  padding: 1em 0;
  margin: 0 -2em;
}

ul.personal-info__container-item__list li:last-child {
  padding-bottom: 0;
}

.personal-info__span {
  /* position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%); */
  order: -1;
  font-weight: 300;
  width: 6.25em;
  font-size: 1em;
  color: #adb5bd;
  margin-left: 2em;
}

.personal-info__link-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);

  stroke-width: 1.5;
  height: 30px;
  width: 30px;
}

.personal-info__user-img {
  margin-left: auto;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.update-info__modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

/* Modal Content */
.update-info__modal-content {
  background-color: #2e2d2d;
  margin: 0 auto;
  padding: 1.25em;
  border: 1px solid #888;
  width: 25em;
  height: 600px;
  border-radius: 0.5em;
}

.update-info__modal-content.sm {
  height: auto;
}

.crop-content {
  width: 800px;
  height: 800px;
}
/* img wrap */
.form__update__profile-pic,
.crop-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  position: relative;
}

.form__update {
  width: 100%;
  display: flex;
  flex-direction: column;

  position: relative;
}

.crop {
  margin-top: 1.5em;
  display: block;
  width: 100%;
  height: 80%;
  max-width: 100%;

  display: flex;
  justify-content: center;
  justify-items: center;
}

/* .update-profile__header {
  margin-bottom: 1em;
} */

.update-profile__description {
  padding: 1.5em 0;
  border-bottom: 0.1px solid #3e3d3d;
  color: #adb5bd;
}

.update-profile-pic__container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  align-self: center;
  margin-top: 1.5em;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

img.profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;

  position: absolute;

  box-shadow: 0 0 0.625em 0 rgba(255, 255, 255, 0.35);
  border-radius: 50%;
}

label.profile-pic__label {
  position: absolute;

  cursor: pointer;
  height: 300px;
  width: 300px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);

  visibility: hidden;
  /* transition effect. not necessary */
  transition: background-color 0.2s ease-in-out;
}

.update-profile-pic__container:hover label.profile-pic__label {
  visibility: visible;
}

span.pp-sp {
  display: flex;
  align-items: center;
  padding: 0.2em;
  height: 2em;
  padding: 0 0.5em;
}

button.btn-escape__update-profile {
  border: none;
  background-color: #2e2d2d;

  position: absolute;
  right: 0;
  width: 1.5em;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

button.btn-crop__photo {
  border: none;
  background-color: #2e2d2d;

  position: absolute;
  left: 0;
  width: 32px;
  top: 27.5%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cropper-icon {
  width: 32px;
  height: 32px;
}

.crop-container {
  position: relative;
}

.crop-pic {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}
button.btn-submit__update,
button.btn-save__crop {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  color: #fff;
  font-size: 1.125em;
  padding: 0.5em;
  background-color: #47b1f5;
  border: 1px solid #47b1f5;
  border-radius: 0.625em;
  cursor: pointer;
}

button.btn-save__crop {
  margin-top: -3em;
  width: 100%;
}

.btn-submit__icon {
  position: absolute;
  left: 1.5em;
  top: 50%;
  transform: translate(0, -55%);
}

input.form__upload {
  display: none;
}

/* .cropper-container {
  min-width: 350.5em;
  min-height: 25em;
}
.cropper-crop-box {
  width: 356.0.5em;
  height: 356.0.5em;
} */
.cropper-view-box {
  box-shadow: 0 0 0 1px #39f;
  border-radius: 50%;
  outline: 0;
}
.cropper-face {
  background-color: inherit !important;
}
.cropper-view-box {
  outline: inherit !important;
}
/* 
=========================END USER VIEW ACCOUNT PAGE CSS========================================
*/

/*
=========================SCREEM MEDIA 932 CSS========================================
*/
@media (max-width: 932px) {
  /* 
=========================MEDIA 932 NAVBAR CSS========================================
*/
  .wrapper {
    width: 100%;
    max-width: 30em;
  }
  /* 
=========================END MEDIA 932 NAVBAR CSS========================================
*/
}
/*
=========================END SCREEM MEDIA 932 CSS========================================
*/

/*
=========================SCREEM MEDIA 791 CSS========================================
*/
@media (max-width: 791px) {
  /* 
=========================MEDIA 791 NAVBAR CSS========================================
*/

  .nav-item:last-child.hidden {
    display: none;
  }

  #search.nav-item {
    margin: 0 auto;
  }

  .btn-search {
    cursor: pointer;
    width: 32px;
  }

  .search-icon {
    width: 32px;
  }

  #notifications-list {
    width: 23em;
  }

  /* 
=========================END MEDIA 791 NAVBAR CSS========================================
*/
  /* 
=========================MEDIA 791 SIDENAVBAR CSS========================================
*/
  aside.side-nav.hidden {
    display: none;
  }

  /* 
=========================END MEDIA 791 SIDENAVBAR CSS========================================
*/
  /* 
=========================MEDIA 791 SECTION MAIN CSS========================================
*/
  section.main {
    margin-left: 0;
    padding-left: 0.625em;
    padding-right: 0.625em;
  }

  section.main.shrink-main,
  section.upload.shrink-main {
    margin-left: 0;
  }
  /* 
=========================END MEDIA 791 SECTION MAIN CSS========================================
*/
  .overlay {
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    display: none;
    height: 100vh;
    opacity: 0;
    position: fixed;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
    /* full screen */
    width: 100vw;
    margin-left: 18.75em;
    /* middle layer, i.e. appears below the sidebar */
    z-index: 2;
  }

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: url('../img/black.jpg') repeat;
    opacity: 0.5;
    z-index: 9999;
    display: none; /* Hide the overlay by default */
  }

  /* display .overlay when it has the .active class */
  .overlay.active {
    display: block;
    opacity: 1;
  }
}
/*
=========================END SCREEM MEDIA 791 CSS========================================
*/

/*
=========================SCREEM MEDIA 732 CSS========================================
*/
@media (max-width: 732px) {
  /* .wrapper {
    display: none;
  } */
}
/*
=========================END SCREEM MEDIA 732 CSS========================================
*/

/*
=========================SCREEN MEDIA PRINT CSS =========================================
*/
@media print {
  html,
  body {
    /* Hide the whole page */
    display: none;
  }
}

@media screenshot-capture {
  html,
  body {
    /* Hide the whole page */
    display: none;
  }

  html {
    user-select: none;
  }
}
/*
=========================END SCREEN MEDIA PRINT CSS =========================================
*/
/* 
=========================SVG ICONS CSS========================================
*/

.s24 {
  height: 24px;
  width: 24px;
}
.ml-16 {
  margin-left: 1em;
}

.side-nav-link-icon {
  stroke-width: 1.5;
  height: 30px;
  width: 30px;
}

.side-nav-link-icon.color {
  stroke: #fff;
  fill: #2e2d2d;
}

.side-nav-link-icon.color.fill {
  fill: #fff;
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #fff;
}

.c1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #fff;
}
.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #2e2d2d;
}
.st2 {
  fill: #fff;
}

.strW {
  stroke: #fff;
}

/* 
=========================END SVG ICONS CSS========================================
*/

.hidden {
  display: none;
}

.disappear {
  display: none;
}

/*======================UPLOAD CSS=========================*/
section.upload {
  padding-top: 5em;
  height: 100%;
}
.upload-form {
  position: relative;
  height: 100%;
  margin: 0 auto;
}

.modal {
  height: 100%;
  width: 100%;

  background-color: #555555;
  color: #fff;
}
.modal:before {
  content: '';
  filter: blur(60px);
  opacity: 0.15;
  position: absolute;
  z-index: 0;
  transition: background-color var(--trans-dur);
}

.modal-lip {
  background-color: #495057;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.btn-lip {
  background-color: #555555;
  border-bottom: none;
  border-left: none;
  border-top: 0.1px solid #cccccc;
  border-right: 0.1px solid #cccccc;
  border-radius: 0.625em 0.625em 0 0;
  padding-top: 0.5em;
}

.modal-lip-title {
  padding: 0.2em 1.875em 0 1.875em;
}
.modal__body,
.modal__header {
  position: relative;
  z-index: 1;
}
.modal__body {
  display: flex;
  flex-direction: column;
  padding: 0 1.875em 2em 1.875em;
}

.modal__button,
.modal__close-button {
  color: currentColor;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.modal__button {
  background-color: #595b5d;
  border: 0.1px solid #424243;
  border-radius: 0.625em;
  font-size: 0.75em;
  padding: 0.5rem 2rem;
  /* transition: background-color var(--trans-dur), border-color var(--trans-dur),
    opacity var(--trans-dur); */
  width: 100%;
}
.modal__button + .modal__button {
  margin-top: 0.75em;
}
.modal__button:disabled {
  opacity: 0.5;
}
.modal__button:focus,
.modal__close-button:focus {
  outline: transparent;
}
.modal__button:hover,
.modal__button:focus-visible {
  background-color: hsla(var(--hue), 10%, 60%, 0.2);
}
.modal__button--upload {
  background-color: #595b5d;
  flex: 1;
  padding: 0.375rem 2rem;
}
.modal__col + .modal__col {
  flex: 1;
  margin-top: 1.875em;
}
.modal__close-button,
.modal__message,
.modal__progress-value {
  color: #cccccc;
  transition: color var(--trans-dur);
}
.modal__close-button {
  background-color: transparent;
  border: none;
  display: flex;
  width: 1.5em;
  transition: color var(--trans-dur);
}
.modal__close-button:hover,
.modal__close-button:focus-visible {
  color: hsl(var(--hue), 10%, 40%);
}
.modal__close-icon {
  display: block;
}
.model__content {
  height: 100%;
}
.modal__content > * {
  /* don’t use shorthand syntax, or actions delay will be overridden */
  animation-name: fadeSlideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
.modal__file {
  /* flex: 1; */
  font-size: 0.825em;
  text-overflow: ellipsis;
  white-space: wrap;
}
.modal__file ~ .modal__button {
  margin-top: 1.5em;
}
.modal__file-icon {
  color: hsl(var(--hue), 10%, 50%);
  display: block;
  margin-right: 0.75em;
  width: 1.5em;
  height: 1.5em;
  transition: color var(--trans-dur);
}
.modal__header {
  padding: 2em 1.875em;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 5em;
  gap: 1.5em;
}

.modal__icon {
  display: block;
  width: 36px;
  height: 36px;
}
.modal__icon--color {
  stroke: #fff;
}
.modal__icon circle,
.modal__icon line,
.modal__icon polyline {
  animation: sdo 0.25s ease-in-out forwards;
  transition: stroke var(--trans-dur);
}
.modal__icon :nth-child(2) {
  animation-delay: 0.25s;
}
.modal__icon :nth-child(3) {
  animation-delay: 0.5s;
}
.modal__icon-sdo10 {
  stroke-dashoffset: 10;
}
.modal__icon-sdo14 {
  stroke-dashoffset: 14.2;
}
.modal__icon-sdo69 {
  stroke-dashoffset: 69.12;
  transform: rotate(-90deg);
  transform-origin: 12px 12px;
}
.modal__message {
  animation-delay: 0.1s;
  font-size: 1em;
  min-height: 3em;
}

.modal__actions.progress {
  position: absolute;
  width: 18.75em;
  bottom: 1em;
  left: 50%;

  transform: translate(-50%, 0);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-row-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.modal__progress {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
}

.modal__progress + .modal__button {
  margin-top: 1.75em;
}
.modal__progress-bar {
  background-color: #47b1f5;
  border: 1px solid #fff;
  border-radius: 0.2em;
  overflow: hidden;
  width: 100%;
  height: 1em;
  transform: translate3d(0, 0, 0);
}
.modal__progress-fill {
  background-color: #555555;
  width: inherit;
  height: inherit;
  transition: transform 0.1s ease-in-out;
  align-self: flex-start;
}
.modal__progress-value {
  font-size: 4em;
  font-weight: 700;
  line-height: 1.333;
  text-align: right;
}
.modal__sr {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}
.modal__title {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.modal__content.drop_zone,
.modal__content.loading-step {
  width: 100%;
  height: calc(100vh - 16.625em);
}

.modal__content.image-processing-step {
  width: 100%;
  height: 100%;
}

.modal__content.image-processing-step {
  padding-bottom: 2em;
}

.modal__actions.drop-zone {
  width: 100%;
  height: 100%;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 1.25em;
  cursor: pointer;
  color: #cccccc;
  border: 0.25em dashed #2e2d2d;
  border-radius: 0.625em;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

/* .drop-zone__thumb {
  width: inherit;
  height: inherit;
  border-radius: 0.625em;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  display: none;
} */

/* .drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.25em 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 0.875em;
  text-align: center;
} */

.span-prompts {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.75em;
  flex-direction: column;
}

/* state change */
[data-state='2']:before {
  background-color: hsl(3, 90%, 60%);
}
[data-state='3']:before {
  background-color: hsl(138, 90%, 60%);
}
.modal__icon + .modal__icon,
[data-state='1'] .modal__icon:first-child,
[data-state='2'] .modal__icon:first-child,
[data-state='3'] .modal__icon:first-child,
.modal__content + .modal__content,
[data-state='1'] .modal__content:first-child,
[data-state='2'] .modal__content:first-child,
[data-state='3'] .modal__content:first-child {
  display: none;
}
[data-state='1'] .modal__icon:first-child,
[data-state='2'] .modal__icon:nth-child(2),
[data-state='3'] .modal__icon:nth-child(3),
[data-state='1'] .modal__content:nth-child(2),
[data-state='2'] .modal__content:nth-child(3),
[data-state='3'] .modal__content:nth-child(4) {
  display: block;
}
[data-ready='false'] .modal__content:first-child .modal__actions:nth-of-type(2),
[data-ready='true'] .modal__content:first-child .modal__actions:first-of-type {
  display: none;
}
[data-ready='true'] .modal__content:first-child .modal__actions:nth-of-type(2) {
  display: flex;
}

.img-frame {
  width: 20em;
  display: flex;
  justify-content: center;
}

.uploading-img,
.uploaded-img {
  object-fit: contain;
  width: 100%;
  height: 300px;
}

.modal__progress-value {
  font-size: 1em;
}

.image-display-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.image-display-wrapper {
  position: relative;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}

#image-display {
  appearance: none;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #47b1f5;
  padding: 8px;
  margin: 0;
  cursor: pointer;
  outline: none;
  width: 300px;
  padding: 8px 40px 8px 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.chevron-down {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  fill: #333;
}

#image-display option {
  background-color: #2e2d2d;
  color: #c3c3c3;
}

.upload__title-group,
.upload__description-group,
.upload__maturity-group {
  width: 100%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.625em;
}

.upload__tags-group {
  position: relative;
  width: 100%;
  margin-top: 1em;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  align-items: stretch;
}

.tags__input-expand {
  line-height: 3em;
  /* border-radius: 10px; */
}

.tagButtons {
  position: absolute;
  display: flex;
  gap: 0.1em;
  flex-wrap: wrap;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
}

.btn-upload-tag {
  font-size: 1em;
  padding-left: 0.5em;
  color: #fff;
  background-color: #2e2d2d;
  border-radius: 0px !important;
  line-height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1em;
}

#mature-options {
  padding: 1em;
}

.upload__mature-type {
  border: 1px solid #fff;
  background-color: #2e2d2d;
  width: 100%;
  height: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;

  position: relative;
}

.mature-content {
  width: 100%;
  display: flex;
  gap: 0.625em;
}

.list__maturity-type,
.list__maturity-type > li,
.list__maturity-options > li {
  display: flex;
  gap: 0.625em;
}

.list__maturity-options,
.list__maturity-type {
  margin-top: 1em;
  margin-left: 1em;
}

.list__maturity-options {
  margin-bottom: 1em;
}

.upload__title-group > input,
.upload__description-group > textarea,
.upload__tags-group > input {
  width: 100%;
  font-size: 1em;
}

.btn-upload-cancel {
  background-color: #2e2d2d;
  z-index: 1;
}

.btn-upload-submit {
  padding: 0.375em 0.75em;
  font-size: 1em;
  margin-top: 1em;
}

.btn-upload-submit:active,
.btn-upload-submit:hover {
  background-color: #47b1f5;
  color: #fff;
}

/* .modal__progress-bar {
  min-width: 100%;
} */

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 35%);
    --fg: hsl(var(--hue), 10%, 95%);
  }
  .modal__close-button,
  .modal__message,
  .modal__progress-value {
    color: hsl(var(--hue), 10%, 70%);
  }
  .modal__close-button:hover,
  .modal__close-button:focus-visible {
    color: hsl(var(--hue), 10%, 80%);
  }
  .modal__file-icon {
    color: hsl(var(--hue), 10%, 60%);
  }
  .modal__icon--blue g {
    stroke: hsl(223, 90%, 60%);
  }
  .modal__icon--red g {
    stroke: hsl(3, 90%, 60%);
  }
  .modal__icon--green g {
    stroke: hsl(138, 90%, 60%);
  }
}

/* Animations */
@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(33%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes sdo {
  to {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 731px) {
  .image-display-container {
    flex-direction: column;
  }
}

/* Beyond mobile */
@media (min-width: 768px) {
  .modal__actions--center {
    justify-content: center;
    margin-left: -4.125em;
  }
  .modal__body {
    flex-direction: column;
    align-items: center;
  }
  .modal__button {
    width: auto;
  }
  .modal__button + .modal__button {
    margin-top: 0;
    margin-left: 1.5rem;
  }
  .modal__file ~ .modal__button {
    margin-top: 0;
  }
  .modal__file ~ .modal__close-button {
    margin-right: 1.5rem;
  }

  .modal__col + .modal__col {
    margin-top: 0;
    margin-left: 1.875em;
  }
}
.comments-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid beige;
}

.comments-header {
  width: 100%;
  background-color: red;
}

.comments-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #20bf6b;
}

.comments-post {
  background-color: orange;
  border: 2px solid #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

textarea.comments-input {
  margin: 10px;
  resize: none;
}

.comments-submit-button {
  margin: 10px 10px 10px 0px;
  padding: 10px;
  width: 7rem;
  font-size: 0.8rem;
  color: #ffffff;
  background-color: #2e2d2d;
  border: none;
  align-self: flex-end;
}

.comments-list {
  margin: 10px;
  background-color: palevioletred;
}

.comment-item {
  display: flex;
  flex-direction: row;
}
.comment {
  padding: 5px;
  background-color: #39f;
}

.comment-user-icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding: 5px;
}

.comment-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.comment-username {
  font-size: 12px;
  padding-top: 5px;
}

.comment-reply {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.comment-reply-to-username {
  font-size: 11px;
  padding-top: 5px;
  color: #c3c3c3;
}

.comment-reply-icon {
  padding-top: 2.5px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.comment-date {
  padding-top: 5px;
  font-size: 10px;
}

.comment-content {
  padding-top: 5px;
  font-size: 12px;
}

.comment-befirst-cotent {
  text-align: center;
}
/*======================END UPLOAD PAGE CSS=========================*/

/*======================RESPONSIVE IMAGE GRID 1=====================*/

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625em;
  /* align-items: center;
  justify-content: center; */
}

.image-gallery > li {
  height: 15em;
  cursor: pointer;
  /* flex-grow: 1; */
}

.image-gallery li img {
  object-fit: cover;
  /* width: 100%; */
  max-width: 100%;
  height: 100%;
  vertical-align: bottom;
  flex-grow: 1;
}
@media (max-width: 1061px) {
  .image-gallery > li {
    flex-grow: 1;
  }
  .image-gallery li img {
    object-fit: cover;
    width: 100%;
  }
}

@media (min-width: 791px) {
  .image-gallery li img:hover {
    transform: scale(1.15);
    transition-duration: 2s;
    transition-delay: 1s;
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.132);
  }
}
@media (max-width: 791px) {
  .image-gallery > li {
    height: inherit;
  }
}

/*======================END RESPONSIVE IMAGE GRID 1=====================*/

/*======================SINGULAR IMAGE PAGE=====================*/

.upload-container {
  padding: 24px 0;
  display: flex;
  max-width: 100%;
}

.highlighted-section {
  flex-basis: 75%;
  flex-grow: 3; /* take up 3/4 of the available space */
  flex-shrink: 1; /* allow the item to shrink proportionally */

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

/* .highlighted-container-top {
  background: linear-gradient(
    -45deg,
    #ee765281,
    #e73c7e7c,
    #23a5d57e,
    #23d5ab77
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.side-container {
  /* background-color: #39f; */
  flex-basis: 25%;
  flex-grow: 1; /* take up 1/4 of the available space */
  flex-shrink: 1; /* allow the item to shrink proportionally */

  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

/* Style for modal container */
#imageModal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto; /* Enable scrolling for modal content */
}

/* Style for modal content */
#imageModal-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 1);
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Enable scrolling for modal content */
}

/* Style for modal close button */
#imageModal-close-btn {
  position: fixed;
  top: 24px;
  right: 38px;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.modal-close-icon {
  stroke: #fff;
  width: 48px;
}
img.modal-image {
  max-width: 100%;
  max-height: 100%;
}

.modal-image.zoom-in {
  cursor: zoom-in;
  margin: auto;
  pointer-events: all;
}

.modal-image.zoom-out {
  cursor: zoom-out;
  max-width: none;
  max-height: none;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: all;
  padding: 24px;
}

.highlighted-container-top,
.highlighted-container-bottom,
.highlighted-container-bottom-wrapper {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.highlighted-container-top {
  padding: 1em 0;
  max-width: 100%;
  background-color: #3e3d3d;
}

.highlighted-container-bottom-wrapper {
  padding-left: 5em;
  padding-right: 5em;
}

.highlighted-panel {
  padding: 1em 1em 0 1em;
  display: flex;
  justify-content: space-between;
}

.highlighted-impact {
  display: flex;
  align-items: center;
  gap: 1.5em;

  color: #c3c3c3;
}

.highlighted__view-count,
.highlighted__like-count,
.highlighted__comment-count {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
}

span.hc {
  display: flex;
  align-items: center;
  justify-content: center;
}

p.hc {
  margin-bottom: 2px;
}

.btn__highlighted-favorites {
  display: flex;
  gap: 0.25em;
  align-items: center;
  color: #fff;
  font-size: 18px;
  background-color: transparent;
  font-weight: 600;
}

.highlighted-actions-l,
.highlighted-actions-r {
  display: flex;
  gap: 1em;
}

.btn-highlighted {
  width: 32px;
  background-color: #2e2d2d;
  display: inline;
}

/* DELETE UPLOAD CSS */
/* Delete upload modal */
#delete-upload-modal.modal-delete-upload {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.modal-content-delete-upload {
  background-color: #2e2d2d;
  padding: 1em;
}

.modal-content-delete-upload p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.modal-buttons-delete-upload {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#delete-upload-yes.btn.btn-highlighted,
#delete-upload-no.btn.btn-highlighted {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}

#delete-upload-yes.btn.yes__delete-modal-btn {
  font-size: 1.2em;
  background-color: #f44336;
  color: #fff;
  padding: 0.5em 1em;
}

#delete-upload-no.btn.no__delete-modal-btn {
  font-size: 1.2em;
  background-color: #aaa;
  color: #fff;
  padding: 0.5em 1em;
}
/* END DELETE UPLOAD CSS */

.highlighted__img {
  object-fit: contain;
  max-height: 40em;
  max-width: 100%;
  cursor: zoom-in;
}

.highlighted-header {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.highlighted__title-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.highlighted__title-date {
  display: flex;
  justify-content: space-between;
}

.highlighted__title-date-l {
  display: flex;
  align-items: center;
  gap: 1em;
}

h4.by {
  color: #9f9f9f;
}

.highlighted-title {
  /* font-style: italic; */
  font-weight: 700;
}

.highlighted-maturity-container {
  display: flex;
  gap: 1em;
  align-items: center;
}

.highlighted-maturity {
  color: red;
  font-size: 18px;
}

.highlighted-tags {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.highlighted-tags > a {
  padding: 0.5em 0;
}

a .highlighted-hashtag {
  color: #fff;
  background-color: #424243;
  padding: 0.5em;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}

.description-container {
  /* background-color: #2e2d2d; */
  border-radius: 8px;
}

.highlighted__description-label {
  color: #fff;
}

.highlighted-description {
  /* padding: 0.5em 0; */
  color: #fff;
  /* text-indent: 30px; */
}

.side__container-header {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.side__header {
  display: flex;
  gap: 1em;
  align-items: center;
}

.side__container-item {
  margin-top: 1em;
}

.profile__avatar-img,
.side__avatar-img {
  height: 62px;
  width: 62px;
  border-radius: 50%;
}

.author {
  font-size: 20px;
}

.highlighted-subscribe {
  display: flex;
  align-items: center;
  gap: 2em;
}

.author-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.image-details-container {
  display: flex;
  gap: 1em;
  align-items: center;
}

.btn-subscribe {
  font-size: 16px;
  background-color: #47b1f5;
  color: #fff;
  padding: 8px 16px;
  border-radius: 25px;
  width: 20em;
}

.btn__subscribe-upload {
  display: flex;
  gap: 0.25em;
  align-items: center;
  color: #47b1f5;
  font-size: 20px;
  background-color: transparent;
  font-weight: 500;
}

.highlighted-sub-icon {
  stroke: #47b1f5;
  stroke-width: 3;
  width: 20px;
}

img.grid-image {
  object-fit: cover;
  z-index: 1;
  height: 125px;
  width: 125px;
}

.grid__recent-works {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 125px 125px 125px; /* Specify as many columns you want */
  grid-template-rows: 125px 125px 125px;
  gap: 1em;
}

.el {
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.el-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.el-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.el-4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.el-5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.el-6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.el-7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.el-8 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.el-9 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media (max-width: 1500px) {
  .upload-container {
    flex-direction: column;
    padding: 24px;
    gap: 5em;
  }

  .side-container {
    padding: 5em;
  }

  .highlighted-container-top,
  .highlighted-container-bottom,
  .highlighted-container-bottom {
    justify-content: center;
  }
}

@media (max-width: 939px) {
  .highlighted__title-date {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .highlighted-container-bottom-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 741px) {
  .upload-container {
    padding: 0;
  }
  .highlighted-section {
    padding: 0em;
    border: none;
  }
  .highlighted__img {
    /* object-fit: contain; */
    height: 40em;
  }
  .highlighted-container-bottom-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .side-container {
    padding: 1em 0;
    justify-content: center;
    align-items: center;
    gap: 5em;
  }

  .side__container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
  }

  .side__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
  }

  .side__avatar-img,
  .profile__avatar-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }

  .side__container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .side__container-item > h4 {
    align-self: flex-start;
  }
}

/*======================END SINGULAR IMAGE PAGE=====================*/

.hide,
.disappear,
.hidden {
  display: none;
}

.tags-input-wrapper {
  background: transparent;
  padding: 1px;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 1em;
}
.tags-input-wrapper input {
  border: none;
  background: transparent;
  outline: none;
  width: 140px;
  margin-left: 8px;
  color: #fff;
  font-size: 1em;
}
.tags-input-wrapper .tag {
  display: inline-block;
  background-color: #2e2d2d;
  border: 1px solid #47b1f5;
  border-radius: 4px;
  color: white;
  margin-right: 2.5px;
  transition: all 0.3s;
  padding: 5px 10px;
  font-size: 14px;
  height: 100%;
}

.tags-input-wrapper .tag a {
  display: inline-block;
  cursor: pointer;
  font-size: 1.2em;
  margin: -2px 5px 0;
  padding: 2px;
}

/*==========================================PROFILE PAGE CSS=======================================================*/
/* Set the initial height of the cover image */
.cover-image {
  position: relative;
  height: 18em;
  background-color: #47b1f5;
}

.avatar-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 200px;
  height: 200px;
  border: 5px solid #fff;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* add your background image or color here */
}

.avatar-img {
  width: 200px;
  border-radius: 50%;
}

.user-page-nav {
  height: 3.25em;
  background-color: #343a40;
}

/* Set the initial height of the optional container */
.optional-container {
  margin-top: 1em;
  height: 14em;
  background-color: pink;
}

.user-page-nav {
  margin-top: 6em;
  height: auto;
  padding: 1em 0.5em;
  background-color: #343a40;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

a.user-nav-item {
  font-size: 1.125em;
}

/* Set the width of the left and right side of the content container */
.content-container {
  display: flex;
  flex-direction: row;
  background-color: #20bf6b;
}

.content-container .left-side {
  width: 60%;
  background-color: red;
}

.content-container .right-side {
  width: 40%;
  background-color: blue;
}

/* Set the height of the content container to span to the bottom of the page */
.content-container {
  height: calc(100% - (17.52em + 17.25em));
}

/* Allow the content container to grow vertically based on its content */
.content-container .left-side,
.content-container .right-side {
  height: 100%;
  overflow-y: auto;
}
/*=================================================================================================================*/
