/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR: #47b1f5
GREY COLOR: #2e2d2d;;
*/

/* 
=========================GENERAL CSS========================================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

  /* display: grid;
  grid-template-columns: 75px 150px 1fr;
  grid-template-rows: 75px 1fr; /*3*/
  /* height: 100vh;  */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

img.upload {
  pointer-events: none !important;
}
/* 
=========================END GENERAL CSS========================================
*/

/* 
=========================Login CSS========================================
*/
.login,
.signup {
  margin: 0;
  height: 100%;
  line-height: 1.6;
  font-weight: 300;
  color: #777;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.login-form,
.signup-form {
  margin: 0 auto;
  align-self: flex-end;
  max-width: 30rem;
  background-color: #2e2d2d;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 4rem;
  /* border-radius: 35px; */
}

.heading-secondary {
  font-size: 3.25rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  color: #47b1f5;

  margin-bottom: 25px;
}

.form__input-wrapper {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
}

.form__label {
  font-weight: 300;
  width: 100px;
  font-size: 16px;
  color: #adb5bd;
  margin-top: 24px;
  margin-bottom: 18px;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 18px;
  color: #fff;
  padding: 0.25rem 0.75rem;
  width: 100%;
  background-color: #2e2d2d;
  border: none;
  border-bottom: 0.1px solid #3e3d3d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}

.form__span {
  position: absolute;
  top: 35%;
  right: 0;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
span > svg.form__input--icon {
  width: 24px;
  stroke: #fff;
}

.form__input:focus {
  outline: none;
  border-bottom: 3px solid #47b1f5;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #2e2d2d;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group {
  display: flex;
  justify-content: center;
}

.form__group:not(:last-child) {
  margin-bottom: 0.5rem;
}

.btn--login,
.btn--login:link,
.btn--login:visited {
  font-size: 1rem;
  padding: 0.85rem 5rem;
  width: 100%;
  border-radius: 10rem;
  /* text-transform: uppercase; */
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer;

  position: relative;
}

.btn--login:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn--login:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn--blue {
  background-color: #47b1f5;
  color: #fff;
  margin-top: 1rem;
}

.btn--grey {
  background-color: #2e2d2d;
  color: #fff;
}

.btn-otln {
  border: 1px solid #343a40;
}
.btn--company {
  margin-top: 2rem;
  color: #fff;
  background-color: black;
}

.icon--company {
  position: absolute;
  top: 50%;
  left: 7.5%;
  width: 20px;
  transform: translate(0, -50%);
}

.form__password {
  position: relative;
}

.icon--password__update {
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  transform: translate(0, -50%);
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.icon--password {
  position: absolute;
  top: 50%;
  right: 2.5%;
  width: 30px;
  transform: translate(0, -50%);
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.btn--login:focus {
  outline: none;
}

/* 
=========================ENDLogin CSS========================================
*/
/* 
=========================NAVBAR CSS========================================
*/

header.nav {
  position: fixed;
  width: 100%;
  top: 0;
  height: 50px;

  color: #fff;
  background-color: #2e2d2d;

  z-index: 2;
  display: flex;
  align-items: center;
  gap: 24px;
}

header.nav.disappear {
  display: none;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item:nth-child(3) {
  margin-left: auto;
  gap: 48px;
}

.nav-item:last-child {
  margin-left: auto;
  padding: 0 48px;
}

.btn-side-nav {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 26px;
}

.btn-side-nav:hover .nav-side-nav-icon,
.btn-side-nav:active .nav-side-nav-icon,
.clear-icon:hover,
.clear-icon:active,
.revert-icon:hover,
.revert-icon:active {
  stroke: #47b1f5;
}

.nav-btn:hover,
.nav-btn:active {
  color: #47b1f5;
}

.nav-side-nav-icon {
  stroke: #fff;

  width: 30px;
  height: 30px;
}

h1.nav-header-brand {
  color: #47b1f5;

  font-size: 24px;
  cursor: default;
}

.wrapper {
  position: relative;

  display: flex;
  align-items: center;

  width: 500px;
  height: 50px;
}
.btn-revert {
  border: none;
  background-color: #2e2d2d;
  width: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.revert-icon {
  stroke: #fff;
  width: 20px;
}

button.btn-revert.hidden {
  display: none;
}

.btn-search {
  border: none;
  background-color: #2e2d2d;

  position: absolute;
  top: 50%;
  left: 8px;
  width: 20px;
  transform: translate(0, -50%);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: default;
}

.search-icon {
  stroke: #fff;
  width: 20px;
}

.btn-search-clear {
  border: none;
  background-color: #2e2d2d;

  position: absolute;
  top: 50%;
  right: 8px;
  width: 20px;
  cursor: pointer;
  transform: translate(0, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-search-clear.hidden {
  display: none;
}

.clear-icon {
  stroke: #fff;
  width: 20px;

  /*visibility: hidden; */
}

.search {
  border: 1px solid #2e2d2d;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  padding: 2px 28px 2px 35px;
  outline: 0;
  font-size: 18px;
  color: #fff;
  background-color: #2e2d2d;
}

.search::placeholder {
  color: #fff;
}

.search:hover,
.search:focus {
  border: 1.5px solid #47b1f5;
}

a.nav-btn,
button.nav-btn {
  margin-left: 20px;
}

a.nav-btn {
  padding: 6px 12px;
  border-radius: 10px;
}

.btn-join {
  background-color: #495057;
  border: none;
}

.btn-signin {
  border: 1px solid #47b1f5;
}
/*-----------------------ProfileButtonCSS---------------------------*/

#drop_down_with_links {
  position: relative;
}

#profile-menu-trigger {
  border: none;
  background: none;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

#profile-menu {
  position: absolute;
  top: 46px;
  /* left: 0px; */
  right: 0px;
  width: 300px;
  border-radius: 8px;
  background-color: #424243;
  color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  padding: 8px 0;
  transition: 500ms ease-in;
  z-index: 1;
}

#profile-menu.closed {
  display: none;
}

.profile-menu-item {
  padding: 16px 0;
}

.profile-menu-item:first-child {
  position: relative;
  padding: 16px 16px;

  display: flex;
  justify-content: content;
  /* align-items: center; */
}

.profile-menu__user-img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.profile-menu-item__col-r {
  display: flex;
  flex-direction: column;
}

a.profile__account-link {
  margin-top: 16px;
  color: #47b1f5;
}

.profile-menu-item + .profile-menu-item {
  border-top: solid 0.1px #595b5d;
}

ul.profile-item-list li {
  margin-bottom: 8px;
}

ul.profile-item-list li:last-child {
  margin-bottom: 0;
}

ul.profile-item-list li > a {
  display: flex;
  align-items: center;
  gap: 24px;
  /* color: #fff; */
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}

.profile-menu__list__link-icon {
  margin-left: 16px;
  height: 30px;
  width: 30px;
  stroke-width: 1.5;
}

ul.profile-item-list li > a:focus-visible,
#profile-menu-trigger:focus-visible {
  border-radius: 8px;
  outline: 2px solid #47b1f5;
  background-color: rgba(0, 0, 0, 0.05);
}

ul.profile-item-list li > a:hover,
#profile-menu-trigger:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.nav__user-img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

/*-----------------------End ProfileButtonCSS---------------------------*/
/* 
=========================END NAVBAR CSS========================================
*/

/* 
=========================SIDE NAVBAR CSS========================================
*/

aside.side-nav {
  background-color: #2e2d2d;
  top: 50px;
  bottom: 0;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  width: 80px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

/* width */
aside::-webkit-scrollbar {
  width: 11px;
}

/* Track */
/* aside::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
} */

/* Handle */
aside::-webkit-scrollbar-thumb {
  background: #595b5d;
  border-radius: 10px;
}

/* Handle on hover */
aside::-webkit-scrollbar-thumb:hover {
  background: #595b5d;
}

.side-nav-item {
  padding: 16px 0;
}

.side-nav-item + .side-nav-item {
  border-top: solid 0.1px #2b3035;
}

ul.side-nav-list li {
  margin-bottom: 8px;
}

ul.side-nav-list li:last-child {
  margin-bottom: 0;
}

ul.side-nav-list li > a {
  display: flex;
  align-items: center;
  gap: 24px;
  /* color: #fff; */
  text-decoration: none;
  cursor: pointer;
  padding: 10px 26px;
}

.side-nav__user-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

h3.side-nav-item-header {
  font-weight: 400;
  margin-bottom: 12px;
  margin-left: 16px;
  padding: 10px;
}

/* a.side-nav-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 18px;
} */

a.footer-link:link,
a.footer-link:visited,
a.footer-link:hover,
a.footer-link:active {
  color: #47b1f5;
}

.side-nav-item:last-child {
  padding: 10px;
}

.footer-item {
  display: flex;
  gap: 12px;
  padding: 5px 0;
  margin-left: 16px;
  font-size: 14px;
  font-weight: 500;
}

.side-nav-footer:nth-child(5) {
  margin-top: 12px;
}

aside.side-nav.hidden {
  display: none;
}

aside.side-nav.disappear {
  display: none;
}
/* 
=========================END SIDE NAVBAR CSS========================================
*/

/* 
=========================SECTION MAIN CSS========================================
*/
section.main-login {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #adb5bd;
}

section.main {
  background-color: green;
  margin-top: 50px;
  margin-left: 75px;

  padding: 35px 75px;

  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section.main.disappear {
  display: none;
}
.container {
  background-color: red;
}

.container-grid {
  background-color: aqua;
  min-height: 1000px;
}

/* 
=========================END SECTION MAIN CSS========================================
*/

/* 
=========================SIDENAVBAR BUTTON PRESS CSS========================================
*/
section.main.shrink-main {
  margin-left: 300px;
}

aside.side-nav.expand-aside {
  min-width: 300px;
}
/* append to .side-nav-item  */
.shrink-side-nav-item {
  margin-left: 2px;
}

/* append to ul.side-nav-list li */
.center-side-nav-link {
  display: flex;
  justify-content: center;
}

/* append to a.side-nav-link */
a.shrink-side-nav-link {
  flex-direction: column;
  font-size: 12px;
}

/* 
END SIDE NAV BUTTON ACTIONS
*/

/* 
=========================END SIDENAVBAR BUTTON PRESS CSS========================================
*/

/* 
=========================USER VIEW ACCOUNT PAGE CSS========================================
*/
.personal-info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  margin-top: -12px;
}

.personal-info__container-item {
  background-color: #2e2d2d;
  border: solid 0.1px #595b5d;
  border-radius: 10px;
  padding: 32px 32px 8px 32px;
}

.personal-info__container-item:first-child {
  padding: 32px 32px;
}

.personal-info__header {
  font-weight: 500;
  text-align: center;
}

.personal-info__container-item__header {
  font-weight: 400;
  margin-bottom: 8px;
}
.personal-info__container-item__description {
  font-weight: 300;
  margin-bottom: 8px;
  color: #adb5bd;
}

ul.personal-info__container-item__list li {
  border-top: 0.1px solid #595b5d;
}

ul.personal-info__container-item__list li:first-child {
  border-top: none;
}

ul.personal-info__container-item__list li > a {
  position: relative;
  display: flex;
  align-items: center;

  gap: 50px;
}
ul.personal-info__container-item__list li > a:hover,
ul.personal-info__container-item__list li > a:active {
  background-color: #3e3d3d;
}

a.presonal-info__container-item__list-link {
  padding: 16px 0;
  margin: 0 -32px;
}

ul.personal-info__container-item__list li:last-child {
  padding-bottom: 0;
}

.personal-info__span {
  /* position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%); */
  order: -1;
  font-weight: 300;
  width: 100px;
  font-size: 16px;
  color: #adb5bd;
  margin-left: 32px;
}

.personal-info__link-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);

  stroke-width: 1.5;
  height: 30px;
  width: 30px;
}

.personal-info__user-img {
  margin-left: auto;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.update-info__modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

/* Modal Content */
.update-info__modal-content {
  background-color: #2e2d2d;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  height: 600px;
}

.update-info__modal-content.sm {
  height: auto;
}

.crop-content {
  width: 800px;
  height: 800px;
}
/* img wrap */
.form__update__profile-pic,
.crop-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  position: relative;
}

.form__update {
  width: 100%;
  display: flex;
  flex-direction: column;

  position: relative;
}

.crop {
  margin-top: 24px;
  display: block;
  width: 100%;
  height: 80%;
  max-width: 100%;

  display: flex;
  justify-content: center;
  justify-items: center;
}

/* .update-profile__header {
  margin-bottom: 16px;
} */

.update-profile__description {
  padding: 22px 0;
  border-bottom: 0.1px solid #3e3d3d;
  color: #adb5bd;
}

.update-profile-pic__container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  align-self: center;
  margin-top: 24px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

img.profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;

  position: absolute;

  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  border-radius: 50%;
}

label.profile-pic__label {
  position: absolute;

  cursor: pointer;
  height: 300px;
  width: 300px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);

  visibility: hidden;
  /* transition effect. not necessary */
  transition: background-color 0.2s ease-in-out;
}

.update-profile-pic__container:hover label.profile-pic__label {
  visibility: visible;
}

span.pp-sp {
  display: flex;
  align-items: center;
  padding: 0.2em;
  height: 2em;
  padding: 0 8px;
}

button.btn-escape__update-profile {
  border: none;
  background-color: #2e2d2d;

  position: absolute;
  right: 0;
  width: 24px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

button.btn-crop__photo {
  border: none;
  background-color: #2e2d2d;

  position: absolute;
  left: 0;
  width: 32px;
  top: 27.5%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cropper-icon {
  width: 24px;
  height: 24px;
}

.crop-container {
  position: relative;
}

.crop-pic {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}
button.btn-submit__update,
button.btn-save__crop {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  color: #fff;
  font-size: 18px;
  padding: 8px;
  background-color: #47b1f5;
  border: 1px solid #47b1f5;
  border-radius: 10px;
  cursor: pointer;
}

button.btn-save__crop {
  margin-top: -53px;
  width: 100%;
}

.btn-submit__icon {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translate(0, -55%);
}

input.form__upload {
  display: none;
}

/* .cropper-container {
  min-width: 358px;
  min-height: 400px;
}
.cropper-crop-box {
  width: 356.8px;
  height: 356.8px;
} */
.cropper-view-box {
  box-shadow: 0 0 0 1px #39f;
  border-radius: 50%;
  outline: 0;
}
.cropper-face {
  background-color: inherit !important;
}
.cropper-view-box {
  outline: inherit !important;
}
/* 
=========================END USER VIEW ACCOUNT PAGE CSS========================================
*/

/*
=========================SCREEM MEDIA 932 CSS========================================
*/
@media (max-width: 932px) {
  /* 
=========================MEDIA 932 NAVBAR CSS========================================
*/
  .wrapper {
    width: 100%;
    max-width: 500px;
  }
  /* 
=========================END MEDIA 932 NAVBAR CSS========================================
*/
}
/*
=========================END SCREEM MEDIA 932 CSS========================================
*/

/*
=========================SCREEM MEDIA 791 CSS========================================
*/
@media (max-width: 791px) {
  /* 
=========================MEDIA 791 NAVBAR CSS========================================
*/

  .nav-item:nth-child(3).active {
    margin: 0;
    align-self: auto;
  }
  .nav-item:last-child {
    margin: 0;
    margin-right: 0;
    padding: 0 24px;
  }

  .nav-item:last-child:first-child {
    padding-left: 12px;
  }

  .btn-search {
    cursor: pointer;
  }

  .search-icon:hover,
  .search-icon:active {
    stroke: #47b1f5;
  }
  /* 
=========================END MEDIA 791 NAVBAR CSS========================================
*/
  /* 
=========================MEDIA 791 SIDENAVBAR CSS========================================
*/
  aside.side-nav.hidden {
    display: none;
  }

  /* 
=========================END MEDIA 791 SIDENAVBAR CSS========================================
*/
  /* 
=========================MEDIA 791 SECTION MAIN CSS========================================
*/
  section.main {
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  section.main.shrink-main {
    margin-left: 0;
  }
  /* 
=========================END MEDIA 791 SECTION MAIN CSS========================================
*/
  .overlay {
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    display: none;
    height: 100vh;
    opacity: 0;
    position: fixed;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
    /* full screen */
    width: 100vw;
    margin-left: 300px;
    /* middle layer, i.e. appears below the sidebar */
    z-index: 2;
  }

  /* display .overlay when it has the .active class */
  .overlay.active {
    display: block;
    opacity: 1;
  }
}
/*
=========================END SCREEM MEDIA 791 CSS========================================
*/

/*
=========================SCREEM MEDIA 732 CSS========================================
*/
@media (max-width: 732px) {
  /* .wrapper {
    display: none;
  } */
}
/*
=========================END SCREEM MEDIA 732 CSS========================================
*/

/*
=========================SCREEN MEDIA PRINT CSS =========================================
*/
@media print {
  html,
  body {
    /* Hide the whole page */
    display: none;
  }
}

@media screenshot-capture {
  html,
  body {
    /* Hide the whole page */
    display: none;
  }

  html {
    user-select: none;
  }
}
/*
=========================END SCREEN MEDIA PRINT CSS =========================================
*/
/* 
=========================SVG ICONS CSS========================================
*/

.s24 {
  height: 24px;
  width: 24px;
}
.ml-16 {
  margin-left: 16px;
}

.side-nav-link-icon {
  stroke-width: 1.5;
  height: 30px;
  width: 30px;
}

.side-nav-link-icon.color {
  stroke: #fff;
  fill: #2e2d2d;
}

.side-nav-link-icon.color.fill {
  fill: #fff;
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #fff;
}

.c1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #fff;
}
.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #2e2d2d;
}
.st2 {
  fill: #fff;
}

/* 
=========================END SVG ICONS CSS========================================
*/

.hidden {
  display: none;
}

.disappear {
  display: none;
}

.active {
  /*empty*/
}
